# 🌐 Configuración de Entorno - Carnitas El Patrón

# Backend (Express)
MP_ACCESS_TOKEN=tu_access_token_de_mercadopago_en_produccion
PORT=3000

# Frontend (Vite)
# En Render, esto debe ser la URL de tu Web Service del backend
VITE_API_URL=https://tu-api-en-render.onrender.com

# Otros (Si decides integrarlos más adelante)
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
NODE_ENV=production
