# Backend (Carnitas-api)
PORT=3000
MP_ACCESS_TOKEN=TU_ACCESS_TOKEN_AQUI
NODE_VERSION=22.22.0

# Frontend (Carnitas-frontend)
VITE_API_URL=URL_DE_TU_API_EN_RENDER
VITE_MP_PUBLIC_KEY=TU_PUBLIC_KEY_AQUI
